<nav class="  blue-grey darken-3" id="navbar">
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo">ToDo's List</a>

    <ul class="right hide-on-med-and-down">
      <li>
        <a routerLink="about" class="btn-floating btn-small cyan pulse"
          ><i class="material-icons ">info_outline</i></a
        >
      </li>

      <li>
        <a href="#!" class="btn-floating btn-small cyan pulse"
          ><i class="material-icons left">search</i></a
        >
      </li>
      <li>
        <a href="#!"><i class="material-icons right">account_circle</i>Login</a>
      </li>
    </ul>
  </div>
</nav>
